body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.display-block{
    display: block !important;
}

.polosa {
    background: #dddfdf;
    border: none;
    height: 1px;
    width: 100%;
    margin-left: -15px;
    padding: 0 15px;
}

img {
    max-width: 100%;
}

.global {
    max-width: 1920px;
    margin: 0 auto;
}

.gold {
    color: #cb944c;
}